body {
    margin: 0;
    padding: 0;
    background-image: url(../img/kosmos-mars-mlechnyi-put-galaktika-planeta-sputnik.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
 transition: 0.5s;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.text, .push-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.push-container {
    margin-top: 30px;
}

.push-container > input {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.push-container > button {
    font-size: 18px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.text > h1 {
    font-size: 40px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-container {
    max-width: 300px;
    text-align: center;
    padding: 10px;
    background-color: bisque;
    margin: 15px;
}

.img-mars {
    max-width: 300px;
}

.hint-container {
    position: absolute;
    transform: translateY(-150%);
    width: 350px;
    height: 130px;
    background-color: brown;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    opacity: 0%;
    transition: 1s;
}


/* Модалка */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from{-webkit-transform: scale(0);}
    to{-webkit-transform: scale(1);}
}

@keyframes zoom {
    form{transform: scale(0);}
    to{transform: scale(1);}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size:40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .modal-content{width: 100%;}
}